@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.relative-position {
  position: relative;
}

.column,
.flex,
.row {
  display: flex;
  flex-wrap: wrap;
}
.no-wrap {
  flex-wrap: nowrap;
}

.column {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}
.flex-center,
.items-center {
  align-items: center;
}

.flex-center,
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
